.custom-file-input ~ .custom-file-label::after {
    content: "参照" !important;
}
.cursor-pointer {
    cursor: pointer;
}
#form_add .custom-file-label {
    right: 5px !important;
    left: 5px !important;
}
.w-30 {
     width: 30% !important;
 }
.w-40 {
    width: 40% !important;
}

